.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 20deg);
    }
}

body {
    animation: change-color 10s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }

    50% {
        background-color: rgb(127, 255, 150);
    }

    100% {
        background-color: rgb(227, 255, 128);
    }
}

.square {
    background-color: brown;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.button {
    color: azure;
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    /* margin: 50px auto;
    display: block;
    width:100px;
    text-align: center; */
}

.square:hover {
    background-color: aquamarine;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button:hover {
    background-color: aqua;
    color: black;
    transform: scale(1.5);
}

.bala {
    background-color: blueviolet;
    animation: stretch 5s infinite alternate;
    width: 80vw;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}

.square2 {
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    animation: skew 5s infinite alternate;
}

.square:focus {
    transform: skew(50deg);
}

.square3 {
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    animation: working 5s infinite alternate;
}

@keyframes working {
    0% {
        width: 100px;
    }

    100% {
        width: 50vw;
    }
}